*{
    margin: 0%;
    padding: 0%;
}

/*navigation bar*/
.navbar{
    background-color: #f6b319;
}

#title{
        font-family: 'Lora', serif;
        color: #557c3e;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
}

#title_list{
    list-style: none;
}
#title_list h4{
    padding: 0px 16px;
}

button, input, optgroup, select, textarea{
    margin: 0px 16px;
}

.navbar-light .navbar-nav .nav-link.disabled{
    color: #951C49;
    font-weight: bold;
}

.fa{
    color: #951C49;
    display: flex;
    justify-content: center; 
    padding: 0px 25px; 
}


.nav-item:hover{
    background-color: antiquewhite;
}


@media screen and (max-width : 769px) {
    .navbar-brand{
        display: none;
    }
    .nav-item{
        display: flex;
        flex-direction: row;
    }
    .fa{
        padding-top: 13px;
    }
    .navbar-nav{
        align-items: center;
    }
    .nav-item:hover{
        background-color: #f6b319;
    }
    .nav-link:hover{
        color: black;
    }
}


/*home page container*/
body{
    background-color: #61122f;
}
.form-group{
    align-content: center;
    display: flex;
    justify-content: center;
}

.form-group img{
    border-radius: 10px;
    box-shadow: 4px 0px 20px 4px rgb(49, 48, 48);
}

/*three box*/
.box{  
    padding: 20px;
}

h5{
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

#box3{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
iframe{
    width: 360px;
    height: 250px;
}

@media screen and (max-width : 500px) {
      iframe{
        width: 250px;
        height: 150px;
      }
      .box img{
        width: 250px;
        height: 150px;
      }
}


/* FOOTER */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(12, 12, 12);
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  .panel-footer{
      color: #fff;
  }
  /* END FOOTER */

